@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active Navigation Link */
.active {
  @apply text-white;
}

.active svg {
  @apply text-white;
}

.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}
.bar:nth-child(4) {
  animation-delay: 0.6s;
}
.bar:nth-child(5) {
  animation-delay: 0.8s;
}
.bar:nth-child(6) {
  animation-delay: 1s;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Bounce Animation Delay */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}

.animation-delay-600 {
  animation-delay: 0.6s;
}

.animation-delay-800 {
  animation-delay: 0.8s;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

/* Grow Animation for Track Formation */
@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-grow {
  animation: grow 2s ease-in-out forwards;
}
